
/* Your CSS Code here. */
/* table{
	border:1px solid black;
	text-align:center;
	vertical-align:middle;
}
#n1{
	width:100%;
	border:1px solid black;
}
#n2{
	width:100%;
	border:1px solid black;
}
#n3{
	width:100%;
	border:1px solid black;
}
#n4{
	width:100%;
	border:1px solid black;
}
 */
